<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='photo.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chatbot.css') }}">
</head>

<body>
    <div class="chatBot">
        <header>
            <h2>Diva's Assistant</h2>
            <span alt="Close"
                id="cross"
                onclick="cancel()">X</span>
        </header>
        <ul class="chatbox">
            <li class="chat-incoming chat">
                <p>Hello, What do you want to know about Diva?</p>
            </li>
        </ul>
        <div class="chat-input">
            <textarea rows="0" cols="17"
                    placeholder="Ask a question..."></textarea>
            <button id="sendBTN">Send</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='chatbot.js') }}" defer></script>
</body>

</html>